body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
}

p {
  line-height: 1.5;
  color: #555;
}

label {
  font-weight: bold;
  display: block;
}

textarea, input {
  width: calc(50% - 10px);
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}


h3 {
  color: #333;
}
